<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            text-align: center;
        }
        .container {
            width: 50%;
            margin: auto;
            background: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .logo-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }
        .logo-container img {
            width: 100px;
            height: auto;
        }
        h2 {
            text-align: center;
            margin-bottom: 20px;
        }
        label {
            display: block;
            text-align: left;
            margin-top: 10px;
        }
        input, select {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        button {
            margin-top: 20px;
            background-color: #28a745;
            color: white;
            border: none;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #218838;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="logo-container">
            <img src="static/logo_izquierdo.png" alt="Logo Izquierdo">
            <h2>Base de datos de personas beneficiarias de proyectos CFDL Zona Norte y Concerta</h2>
            <img src="static/logo_derecho.png" alt="Logo Derecho">
        </div>
        <form method="POST">
            <label>Nombre Completo:</label>
            <input type="text" name="nombre" required>

            <label>Sexo:</label>
            <select name="sexo" required>
                <option value="Femenino">Femenino</option>
                <option value="Masculino">Masculino</option>
                <option value="N/B">N/B</option>
            </select>

            <label>DUI:</label>
            <input type="text" name="dui" required>

            <label>Edad:</label>
            <input type="number" name="edad" required>

            <label>Teléfono:</label>
            <input type="text" name="telefono" required>

            <label>Grupo/Organización:</label>
            <input type="text" name="grupo">

            <label>Municipio:</label>
            <select name="municipio" id="municipio" required>
                <option value="" disabled selected>Seleccione un municipio</option>
            </select>

            <label>Distrito:</label>
            <select name="distrito" id="distrito" required>
                <option value="" disabled selected>Seleccione un distrito</option>
            </select>

            <label>Comunidad:</label>
            <input type="text" name="comunidad" required>

             <label>Área:</label>
            <select name="Área" required>
                <option value="Rural">Rural</option>
                <option value="Urbana">Urbana</option>
            </select>


            <label>Procesos Actuales:</label>
            <select name="procesos_actuales">
                <option value="Educación">Educación</option>
                <option value="Salud">Salud</option>
            </select>

            <label>Procesos Previos:</label>
            <select name="procesos_previos">
                <option value="Educación">Educación</option>
                <option value="Salud">Salud</option>
            </select>

            <label>Total Procesos Actuales:</label>
            <input type="number" name="total_procesos">

            <button type="submit">Enviar</button>
        </form>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const municipios = {
                "Ahuachapán Centro": ["Ahuachapán","Apaneca","Concepción de Ataco","Tacuba"],
                "Ahuachapán Norte": ["Atiquizaya","El Refugio","San Lorenzo","Turín"],
                "Ahuachapán Sur": ["Guaymango","Jujutla","San Francisco Menéndez","San Pedro Puxtla"],
                "Cabañas Este": ["Guacotecti","San Isidro","Sensuntepeque","Victoria","Dolores"],
                "Cabañas Oeste": ["Cinquera","Ilobasco","Jutiapa","Tejutepeque"],
                "Chalatenango Centro": ["Agua Caliente","Dulce Nombre de María","El Paraíso","La Reina","Nueva Concepción","San Fernando","San Francisco Morazán","San Rafael","Santa Rita","Tejutla"],
                "Chalatenango Norte": ["Citalá","La Palma","San Ignacio"],
                "Chalatenango Sur": ["Arcatao","Azacualpa","Cancasque","Chalatenango","Comalapa","Concepción","Quezaltepeque","El Carrizal","La Laguna","Las Vueltas","Las Flores","Nombre de Jesús","Nueva Trinidad","Ojos de Agua","Potonico","San Antonio de la Cruz","San Antonio Los Ranchos","San Francisco Lempa","San Isidro Labrador","San Luis del Carmen","San Miguel de Mercedes"],
                "Cuscatlan Norte": ["Suchitoto","San José Guayabal","Oratorio de Concepción","San Bartolomé Perulapía","San Pedro Perulapán"],
                "Cuscatlan Sur": ["Cojutepeque","Candelaria","El Carmen","El Rosario","Monte San Juan","San Cristóbal","San Rafael Cedros","San Ramón","Santa Cruz Analquito","Santa Cruz Michapa","Tenancingo"],
                "La Libertad Centro": ["San Juan Opico","Ciudad Arce"],
                "La Libertad Costa": ["Chiltiupán","Jicalapa","La Libertad","Tamanique","Teotepeque"],
                "La Libertad Este": ["Antiguo Cuscatlán","Huizúcar","Nuevo Cuscatlán","San José Villanueva","Zaragoza"],
                "La Libertad Norte": ["Quezaltepeque","San Matías","San Pablo Tacachico"],
                "La Libertad Oeste": ["Colón","Jayaque","Sacacoyo","Tepecoyo","Talnique"],
                "La Libertad Sur": ["Santa Tecla","Comasagua"],
                "La Paz Centro": ["El Rosario","Jerusalén","Mercedes La Ceiba","Paraíso de Osorio","San Antonio Masahuat","San Emigdio","San Juan Tepezontes","San Luis La Herradura","San Miguel Tepezontes","San Pedro Nonualco","Santa María Ostuma","Santiago Nonualco"],
                "La Paz Este": ["San Juan Nonualco","San Rafael Obrajuelo","Zacatecoluca"],
                "La Paz Oeste": ["Cuyultitán","Olocuilta","San Juan Talpa","San Luis Talpa","San Pedro Masahuat","Tapalhuaca","San Francisco Chinameca"],
                "La Unión Norte": ["Anamorós","Bolívar","Concepción de Oriente","El Sauce","Lislique","Nueva Esparta","Pasaquina","Polorós","San José","Santa Rosa de Lima"],
                "La Unión Sur": ["Conchagua","El Carmen","Intipucá","La Unión","Meanguera del Golfo","San Alejo","Yayantique","Yucuaiquín"],
                "Morazán Norte": ["Arambala","Cacaopera","Corinto","El Rosario","Joateca","Jocoaitique","Meanguera","Perquín","San Fernando","San Isidro","Torola"],
                "Morazán Sur": ["Chilanga","Delicias de Concepción","El Divisadero","Gualococti","Guatajiagua","Jocoro","Lolotiquillo","Osicala","San Carlos","San Francisco Gotera","San Simón","Sensembra","Sociedad","Yamabal","Yoloaiquín"],
                "San Miguel Norte": ["Ciudad Barrios","Sesori","Nuevo Edén de San Juan","San Gerardo","San Luis de la Reina","Carolina","San Antonio","Chapeltique"],
                "San Miguel Oeste": ["Chinameca","El Tránsito","Lolotique","Nueva Guadalupe","San Jorge","San Rafael Oriente"],
                "San Salvador Centro": ["Ayutuxtepeque","Mejicanos","Cuscatancingo","Ciudad Delgado","San Salvador"],
                "San Salvador Este": ["Ilopango","San Martín","Soyapango","Tonacatepeque"],
                "San Salvador Norte": ["Aguilares","El Paisnal","Guazapa"],
                "San Salvador Oeste": ["Apopa","Nejapa"],
                "San Salvador Sur": ["San Marcos","Santo Tomás","Santiago Texacuangos","Panchimalco","Rosario de Mora"],
                "San Vicente Norte": ["Apastepeque","Santa Clara","San Ildefonso","San Esteban Catarina","San Sebastián","San Lorenzo","Santo Domingo"],
                "San Vicente Sur": ["San Vicente","Guadalupe","San Cayetano Istepeque","Tecoluca","Tepetitán","Verapaz"],
                "Santa Ana Centro": ["Santa Ana"],
                "Santa Ana Este": ["Coatepeque","El Congo"],
                "Santa Ana Norte": ["Masahuat","Metapán","Santa Rosa Guachipilín","Texistepeque"],
                "Santa Ana Oeste": ["Candelaria de la Frontera","Chalchuapa","El Porvenir","San Antonio","Pajonal","San Sebastián Salitrillo","Santiago de la Frontera"],
                "Sonsonate Centro": ["Sonsonate","Sonzacate","Nahulingo","San Antonio del Monte","Santo Domingo de Guzmán"],
                "Sonsonate Este": ["Armenia","Caluco","Cuisnahuat","Izalco","San Julián","Santa Isabel","Ishuatán"],
                "Sonsonate Norte": ["Juayúa","Nahuizalco","Salcoatitán","Santa Catarina Masahuat"],
                "Sonsonate Oeste": ["Acajutla"],
                "Usulután Este": ["California","Concepción Batres","Ereguayquín","Jucuarán","Ozatlán","Santa Elena","San Dionisio","Santa María","Tecapán","Usulután"],
                "Usulután Norte": ["Alegría","Berlín","El Triunfo","Estanzuelas","Jucuapa","Mercedes Umaña","Nueva Granada","San Buenaventura","Santiago de María"],
                "Usulután Oeste": ["Jiquilisco","Puerto El Triunfo","San Agustín","San Francisco Javier"]
                                    
            };

            const municipioSelect = document.getElementById("municipio");
            const distritoSelect = document.getElementById("distrito");

            for (let municipio in municipios) {
                let option = document.createElement("option");
                option.value = municipio;
                option.textContent = municipio;
                municipioSelect.appendChild(option);
            }

            municipioSelect.addEventListener("change", function () {
                distritoSelect.innerHTML = '<option value="" disabled selected>Seleccione un distrito</option>';
                let selectedMunicipio = municipioSelect.value;
                municipios[selectedMunicipio].forEach(distrito => {
                    let option = document.createElement("option");
                    option.value = distrito;
                    option.textContent = distrito;
                    distritoSelect.appendChild(option);
                });
            });
        });
    </script>
</body>
</html>
